{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragmaFrag": "React.Fragment"
      }
    ],
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["/"],
        "extensions": [".js"],
        "alias": {
          "_observables": "./observables",
          "_reducers": "./redux/reducers",
          "_actions": "./redux/actions",
          "_components": "./components",
          "_providers": "./providers",
          "_styles": "./styles",
          "_utils": "./utils"
        }
      }
    ]
  ]
}
